*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(6, 4, 46, 0.932);
}
.main_container{
    margin: auto;
    width: 700px;
    background-color:rgba(6, 4, 46, 0.932);
    background-attachment: fixed;
    color: rgb(223, 218, 218);
    height:950px;
}
.content_box{
    position: relative;
    top: 60px;
}
h1,h2,h3{
    text-align: center;
    
}
.container{
    display:flex;
    background-color: white;
    width: 700px;
     margin: auto;
     position: relative;
     top: 170px;
}
h5{
    margin-top:100px;
    margin-left: 130px;
    text-transform: capitalize;
    color: rgba(6, 4, 46, 0.932);
}
img{
    position: relative;
   
}
h4{
    text-align: center;
    margin-top: 65px;
    margin-right:330px;
    font-size: 30px;
    font-weight:bold;
    
}
.para{
    margin-top: 230px;
    
}
p{
    text-align: center;
    font-size:13PX;
    margin-top: 40PX;
}
hr{
    width: 400px;
     margin-left: 185px;
     margin-top:18px;
}
footer{
    margin-top: 250px;
    text-align: center;
    color: white;
    
    

}
.footer_box{
    position: fixed;
    bottom: 50px;
    right:1px;
    left: 20px;
}
@media (max-width: 480px) {

    .main_container {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .content_box {
        top: 20px;
    }

    .container {
        width: 100%;
        flex-direction: column;
        top: 40px;
    }

    img {
        width: 100%;
        height: auto;
    }

    h4 {
        margin: 20px 0 0 0;
        font-size: 22px;
        text-align: center;
    }

    h5 {
        margin: 20px 0;
        text-align: center;
    }

    .para {
        margin-top: 40px;
    }

    p {
        font-size: 12px;
        margin-top: 15px;
        padding: 0 10px;
    }

    hr {
        width: 80%;
        margin: 15px auto;
    }

    footer {
        margin-top: 40px;
    }

    .footer_box {
        position: static;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {

    .main_container {
        width: 95%;
        height: auto;
    }

    .container {
        width: 100%;
        top: 100px;
    }

    h4 {
        margin-right: 0;
        font-size: 26px;
    }

    h5 {
        margin-left: 50px;
        margin-top: 60px;
    }

    .para {
        margin-top: 150px;
    }

    hr {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        margin-top: 120px;
    }

    .footer_box {
        bottom: 20px;
        left: 10px;
    }
}
@media (min-width: 1024px) {

    .main_container {
        width: 700px;
    }

    .container {
        width: 700px;
    }
}
